:root {
  --primary-color: #336699;
  --secondary-color: #FF9900;
  --accent1-color: #66CCCC;
  --accent2-color: #FFCC66;

  --title-font: 'Montserrat', sans-serif;
  --paragraph-font: 'Open Sans', sans-serif;
  
  --hover-link-color: #000000;
  --link-color: #FFFFFF;
  --msg-text-color: #FFFFFF;
  --footer-link-color: #EAEAEA;
  --background-color: #c7cbcf;
  --box-color: #5f89b3;
  --text-background-color: #2E4053;
  --link-hover-color: #16202a;
  --contactus-color: #2E4053;
}

body {
  background-color: var(--background-color);
  font-family: Raleway, Arial, sans-serif;
  font-size: 22px;
  margin: 0;
  padding: 0;
}
h2 {
  margin: 0;
}
 div {
    max-width: 1600px;
    margin: 0 auto;
}
#content {
  max-width: 1600px;
  margin: 0 auto;
}
 #hero-box {
  width: 100%;
  text-align: center;
 }       
 header {
  background-color: var(--text-background-color);
 }
 footer, .join,  .msg {
  background-color: var(--text-background-color);
  color: var(--msg-text-color);
  text-decoration: none;
 }
 .msg {
  line-height: 1.5em;
  padding: 35px;
 }
 .icon, .logo {
  width: 80px;
}
.icon {
  padding-top: 10px;
}
#logo_link {
  padding-top: 5px;
}
nav a {
  text-decoration: none;
  color: #fcfbfb;
  text-align: center;
  padding: 35px;
}
nav a:hover {
  color: var(--link-color);
  background-color: var(--link-hover-color);
}
.book {
  color: var(--contactus-color);
  background-color: #a5cfff;
  text-decoration: none;
}
.mountains {
  width: 50%;
}
footer {
  padding: 25px 50px;
  margin-top: 200px;
}
footer a {
  text-decoration: none;
  font-size: 1.2em;
  color: var(--msg-text-color)
}
footer a:hover {
  text-decoration: underline;
  color: var(--hover-link-color)
} 
footer .social img {
  padding-top: 15px;
}
#hero-msg h1, #hero-msg h4, .button-box, main section{
  text-align: center;
}
#background {
  text-align: center;
  height: 725px;
  background-color: var(--box-color);
}
#home-grid {
  max-width: 1600px;
  margin: 0 auto;
}
.home-title {
  font-family: var(--title-font);
  font-size: 2em;
  margin-top: 10px;
}
.book, .join {
  background-color: #d9c2a3;
  color: black;
  text-decoration: none;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 500px;
  border-radius: 5px;
}
.msg p {
  font-size: .8em;
  padding-bottom: 15px
}
.rivers-card, .camping-card, .rapids-card {
  margin: 200px 0;
}
.card-img {
  border: 10px solid #d9c2a3;
}
main section img {
  box-sizing: border-box;
}