:root {
  --primary-color: #336699;
  --secondary-color: #FF9900;
  --accent1-color: #66CCCC;
  --accent2-color: #FFCC66;

  --heading-font: 'Montserrat', sans-serif;
  --paragraph-font: 'Open Sans', sans-serif;
  
  --hover-link-color: #000000;
  --link-color: #FFFFFF;
  --msg-text-color: #FFFFFF;
  --footer-link-color: #EAEAEA;
  --background-color: #6890ba;
  --text-background-color: #2E4053;
  --link-hover-color: #16202a;
  --contactus-color: #2E4053;
}

 div {
    max-width: 1600px;
    margin: 0 auto;
}
#content {
  max-width: 1600px;
  margin: 0 auto;
}
 #hero-box {
  width: 100%;
  text-align: center;
 }
 body {
  background-color: #fcfbfb; 
 }
 header {
  background-color: var(--text-background-color);
 }
 footer, .msg, .join {
  background-color: var(--text-background-color);
  color: var(--msg-text-color);
  text-decoration: none;
 }
 .icon, .logo {
  width: 80px;
}
nav a {
  text-align: center;
  color: var(--link-color);
  text-decoration: none;
}  
nav a:hover {
  color: var(--link-color);
  background-color: var(--link-hover-color);
}
.book {
  color: var(--contactus-color);
  background-color: #a5cfff;
  text-decoration: none;
}
.mountains {
  width: 50%;
}
footer a {
  text-decoration: none;
  font-size: 1.2em;
  color: var(--msg-text-color)
}
footer a:hover {
  text-decoration: underline;
  color: var(--hover-link-color)
} 
#hero-msg h1, #hero-msg h4, .button-box, main section{
  text-align: center;
}
#background {
  text-align: center;
  height: 725px;
  background-color: var(--background-color);
}
#home-grid {
  max-width: 1600px;
  margin: 0 auto;
}