:root {
  /* change the values below to your colors from your palette */
  --primary-color: #FF5722;
  --secondary-color: #2196F3;
  --accent1-color: #FFC107;
  --accent2-color: #4CAF50;

  /* change the values below to your chosen font(s) */
  --heading-font: 'Montserrat', sans-serif;
  --paragraph-font: 'Open Sans', sans-serif;

  --headline-color-on-white: #333333;
  --headline-color-on-color: #FFFFFF;
  --paragraph-color-on-white: #333333;
  --paragraph-color-on-color: #F5F5F5;
  --paragraph-background-color: #333333;
  --nav-link-color: #FFFFFF;
  --nav-background-color: #333333;
  --nav-hover-link-color: #333333;
  --nav-hover-background-color: #FFFFFF;
}
body {
max-width: 960px;
margin: 0 auto;
padding: 4em;
font-size: 18px;
}
img {
display: block;
margin: 0 auto;
max-width: 300px;
}
h1, h2, h3, h4, h5, h6 {
font-family: var(--heading-font);
color: var(--headline-color-on-white);
}
h1 {
text-align: center;
}
hr {
height: 3px;
margin: 35px 0;
background: var(--accent1-color);
}

nav {
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
}
nav  {
  list-style-type: none;
  display: flex;
}
nav a {
  padding:1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;
}
nav a:link, nav a:visited {
  color: var(--nav-link-color);
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}