:root {
  /* Fonts */
  --heading-font: 'Montserrat', sans-serif;
  --paragraph-font: 'Open Sans', sans-serif;

  /* Colors */
  --primary-color: #2196F3; /* Bright shade of blue */
  --secondary-color: #333333;
  --accent1-color: #FFFFFF;
  --accent2-color: #F8F8F8;
  --image-border-color: #CCCCCC; /* Light gray color for image borders */
}
header {
  background-color: var(--primary-color);
  display: grid;
  grid-template-columns: 150px auto;
}
body {
  background-color: var(--accent2-color);
  font-family: var(--heading-font);
  font-size: 22px;
  margin: 0;
  padding: 50px;
}
p {
  text-indent: 1em;
  font-size: 20px;
  font-family: var(--paragraph-font);
  color: var(--secondary-color);
  background-color: var(--accent2-color);
  margin-bottom: 1.5em;
  line-height: 1.5;
}
.content-container {
  max-width: 1500px; /* Set the maximum width of the container */
  margin: 0 auto; /* Center the container horizontally */
  padding: 20px; /* Add padding around the content */
}
img {
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  border: 1px solid var(--image-border-color); /* A light gray border to images */
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--secondary-color);
}
h1 {
  text-align: center;
}
#content {
max-width: 1600px;
margin: 5px auto;
}
.keyword {
  text-decoration: underline;
  font-weight: bold;
}
nav {
  background-color: var(--primary-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}
nav a {
  padding: 1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;
} 
nav a:link, nav a:visited {
  color: var(--accent1-color);
}
nav a:hover {
  color: var(---primary-color);
  background-color: var(--accent1-color);
}
.footer {
  background-color: var(--primary-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer p, footer p a {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.social a {
  display: inline-block;
  margin-right: 10px; /* Add spacing between the icons */
  width: 60px; /* Adjust width of the icons */
  height: 60px; /* Adjust height of the icons */
}
.social a:last-child {
  margin-right: 0; /* Remove the margin-right for the last icon */
}
#logo_link {
  padding-top: 5px;
  justify-self: center;
  align-self: center;
}
.icon, .logo {
  width: 150px;
}
.important-definitions {
  margin-top: 50px;
}
h4 {
  color: var(--secondary-color);
}
.image {
  text-align: center;
  margin-bottom: 30px;
}
.image img {
  border: 1px solid var(--secondary-color);
}